<div [ngClass]="playButton?'container':'container disappear'" id="temp" (click)="callAnimate(flag)" (click)="disappear()">

  <!-- stylish Number -->
  <h1 [ngClass]="videoPage?'styledNumber':'styledNumber o-0'" *ngIf="hover"><em>{{startUpNumber%10==startUpNumber?'0' + startUpNumber: startUpNumber}}</em></h1>
  <h1 [ngClass]="videoPage?'styledNumber':'styledNumber o-0'" *ngIf="!hover"><em>{{startUpNumber%10==startUpNumber?'0' + startUpNumber: startUpNumber}}</em></h1>
  
  <!-- StartUp Name -->
  <button [ngClass]="playButton?'playButton':'playButtonDisappear'" ><img src="../assets/play.png" alt="" ></button>

  <!-- Change number according to time stamps: *Start-Up Name* -->
  <div [ngClass]="videoPage?'centerTop':'centerTop centerTopAnimation'" *ngIf="hover">
    <div class="lineDesignBlack"></div>
    <div class="lineDesignYellow"></div>
    <div class="title" >
      <h1>{{startUpName}}</h1>
    </div>
  </div>

  <div [ngClass]="videoPage?'centerTop':'centerTop centerTopAnimation'" *ngIf="!hover">
    <div class="lineDesignBlack"></div>
    <div class="lineDesignYellow"></div>
    <div class="title" >
      <h1>{{startUpName}}</h1>
    </div>
  </div>

  <!-- Logo -->
  <div [ngClass]="videoPage?'logoAnimation':'logo'">
    <img src="../assets/amity.png" alt="">
  </div>
  
  <!-- Border below the logo -->
  <div>
    <div [ngClass]="videoPage?'borderAnimation border':'border'"></div>
  </div>


  <!-- Buttons and Video -->
  <div>
    <div [ngClass]="videoPage?'startUpAnimation startUp':'startUp'" id="logo">
      <!-- Buttons -->
      <div [ngClass]="videoPage?'buttonGroup1Animation':'buttonGroup1'">
        <div [ngClass]="videoPage?'buttonHoverGroup1':'opacity-0'" *ngIf="hover"></div>
        <div [ngClass]="videoPage?'buttonHoverGroup1':'opacity-0'" *ngIf="!hover"></div>
        <div class="button"  *ngFor = 'let item of array | slice:0:10'>
          <button [ngClass]="videoPage?'buttons1':''" ><strong>{{checkTypeOf(item)==checkTypeOf(1) && item!=10?'O'+item:item}}</strong></button>
        </div>
      </div>

      <!-- Video -->
      
        <div [ngClass]="videoPage?'videoContainer':'videoAnimation'">
          <video class = "vid" id = "vid" src = "../assets/finished_video.mp4" controls>
          </video>
        </div>
      

      <!-- Buttons -->
      <div [ngClass] = "videoPage?'buttonGroup1Animation':'buttonGroup1'">
        <div [ngClass]="videoPage?'buttonHoverGroup1 buttonHoverGroup2':'opacity-0'" *ngIf="hover"></div>
        <div [ngClass]="videoPage?'buttonHoverGroup1 buttonHoverGroup2':'opacity-0'" *ngIf="!hover"></div>
        <div class="button" *ngFor = 'let item of array | slice:10:20'>
          <button [ngClass]="videoPage?'buttons2':''" ><strong>{{item}}</strong></button>
        </div>
      </div>
    </div>
  </div>
</div>
