//imports
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=ZCOOL+XiaoWei&display=swap');
*{
    font-family: 'PT Mono', monospace;
    font-family: 'ZCOOL XiaoWei', serif;
}

//Cursor 
.container{
    margin: none;
    padding: none;
    width: 100vw;
    height: 90vh;
    cursor: pointer;
}
.disappear{
    cursor: none;
}
//Play Button

.playButton{
    color: black;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    background-color: none;
    display: flex;
    position: absolute;
    top: 65%;
    left: 48%;
    margin: none;
    padding: none;
    font-size: 30px;
    width: auto;
    height: auto;
    
    img{
        width: 80%;
        margin: none;
        padding: none;
    }
    cursor: pointer;
}
.playButtonDisappear{
    display: none;
    
}
//stylish Number
.styledNumber{
    position: absolute;
    top: -10px;
    left: -20px;
    color: #ccc;
    font-size: 140px;
    opacity: 0;
    animation: numberFadeIn 0.5s forwards ease;
}
.o-0{
    color: #999;
    animation: numberFadeOut 0.5s forwards ease !important;
}

@keyframes numberFadeOut{
    from{
        opacity: 1;
    }to{
        opacity: 0;
    }
}
@keyframes numberFadeIn{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
//Logo Animation

.logo {
    img {
        animation: moveToCenter 0.6s forwards ease;
        position: absolute;
    }
}

.logoAnimation {
    img {
        animation: moveToTopRight 0.6s forwards ease;
        position: absolute;
        z-index: 1;
        margin: 25px;
    }
}

@keyframes moveToTopRight {
    from {
        top: 20%;
        right: 25%;
        width: 50%;
    }

    to {
        top: 2%;
        right: 2%;
        width: 15%;
    }
}

@keyframes moveToCenter {
    from {
        top: 2%;
        right: 2%;
        width: 20%;
    }

    to {
        top: 20%;
        right: 25%;
        width: 50%;
    }
}

// Border Animation

.border{
    animation: fadeIn 0.8s forwards ease;
    position: absolute;
    left: 10vw; 
    background-color: rgb(194, 189, 189);
    width: 80vw;
    height: 2px;
    border-radius: 10px;
    box-shadow: rgba($color: #000000, $alpha: 1.0);
}
.borderAnimation{
    animation: fadeOut 0.4s forwards ease !important;
}

@keyframes fadeOut{
    from{
        top: 55vh;
        opacity: 1;
    }to{
        top: 65vh;
        opacity: 0;
    }
}

@keyframes fadeIn{
    from{
        top: 65vh;
        opacity: 0;
    }to{
        top: 55vh;
        opacity: 1;
    }
}

//buttons

.startUp{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
    justify-content: center;
    top: 55vh;
    button{
        margin: 0px;
        align-content: center;
        width: 9vw;
        background-color: transparent;
        border: none;
        animation: none !important;
        // cursor: pointer;
        height: 30px !important;
        z-index: 0;
    }
}

.startUpAnimation{
    width: 100vw;
    height: 80vh;
    position: absolute;
    top: 20vh !important;
    align-items: center;
    button{
        width: 6vw;
        margin: 13px 0px;
        animation: numberFadeOut 0.5s forwards ease;
    }
}
.buttons1{
    text-align: right;
}
.buttons2{
    text-align: left;
}
.buttonGroup1{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
//ButtonHoverMovingAnimation
.opacity-0{
    opacity: 0;
}

.buttonHoverGroup1{
    display: var(--block1);
    position: absolute;
    width: 12.5%;
    height: 46px;
    background-color: #c2f1e3;
    left: 0;
    z-index: -1;
    border-right: 4px solid #03c186;
    border-radius: 2px;
    animation: buttonHoverMove 1s forwards ease;
}
.buttonHoverGroup2{
    display: var(--block2) !important;
    left: auto !important;
    right: 0 !important;
    border-right: none !important;
    border-left: 4px solid #03c186;
}
@keyframes buttonHoverMove{
    from{
        margin-top: var(--marginFrom);
    }to{
        margin-top: var(--marginTo);
    }
}
//title
.centerTop{
    animation: centerTopFadeIn 0.5s forwards ease;
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin-top: 60px;
    .lineDesignBlack{
        align-self: center;
        width: 8px;
        height: 35px;
        background-color: black;
        border-radius: 10px;
    
    }
    .lineDesignYellow{
        align-self: center;
        width: 8px;
        height: 60px;
        background-color: yellow;
        border-radius: 10px;
        margin-left: 5px;
        margin-right: 20px;
    }
    .title{
        margin-top: 10px;
    }
    
}
.centerTopAnimation{
    animation: centerTopFadeOut 0.5s forwards ease !important;
}
@keyframes centerTopFadeIn{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

@keyframes centerTopFadeOut{
    from{
        opacity: 1;
    }to{
        opacity: 0;
    }
}

//Video
.videoContainer{
    video{
        min-width: 65vw;
        height: 36.5625vw;
        margin: 10px;
        border-radius: 10px;
        box-shadow: #000000;
        animation: fadeIn 0.8s forwards ease;
    }
}

.videoAnimation{
    video{
        position: absolute;
        width: 0px;
        height: 0px;
        animation: fadeOut 0.3s forwards ease;
    }
}